@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
  margin: 50px;
}
.sidebar {
  position: relative;
  background: #003147;
  padding: 30px;
}

.content {
  position: relative;
  background: #fff;
  padding: 40px;
}

/* Sidebar */
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.avatar-container {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.avatar-container__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Contacts */
.contacts {
  padding-top: 40px;
}
.title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.contacts ul {
  position: relative;
}

.contacts ul li {
  list-style: none;
  position: relative;
  margin: 10px 0;
  cursor: pointer;
}

.contacts ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #03a9f4;
}
.contacts ul li span {
  color: #fff;
  font-weight: 300;
}

/* Education */
.contacts.education li {
  margin-bottom: 15px;
}
.contacts.education h5 {
  color: #03a9f4;
  font-weight: 500;
}
.contacts.education h4:nth-child(2) {
  color: #fff;
  font-weight: 500;
}
.contacts.education h4 {
  color: #fff;
  font-weight: 300;
}
/* About me */
.about-me {
  margin-bottom: 50px;
}

.about-me:last-child {
  margin-bottom: 0px;
}
.about-me__name {
  color: #003147;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-me p {
  color: #333;
}
/* Work experience */
.work-experience-item {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}
.work-experience-item__year-company {
  min-width: 150px;
}
.work-experience-item__year-company h5 {
  text-transform: uppercase;
  color: #848c90;
  font-weight: 600;
}
.work-experience-item__position h4 {
  text-transform: uppercase;
  color: #2a72a2;
}

/* Skills */
.skills-item {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.skills-item h4 {
  text-transform: uppercase;
}

/* Additional info */
.additional-info-item {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}
.additional-info-item h4 {
  text-transform: uppercase;
  color: #2a72a2;
}

@media (max-width: 1000px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 600px) {
  .work-experience-item {
    flex-direction: column;
  }
}
